* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cairo;
  list-style-type: none;
}

a,
a:link,
a:focus,
a:visited {
  text-decoration: none !important;
}

a * {
  cursor: pointer;
  color: inherit;
}

#contextMenu {
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 5px 2px #ccc;
}

.border-radius-1 {
  border-radius: 0.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

h1 {
  font: Bold 1.4rem/1.2 Cairo;
}

h2 {
  font: Bold 1.3rem/1.2 Cairo;
}

h3 {
  font: Bold 1.2rem/1.2 Cairo;
}

h4 {
  font: Bold 1rem/1.2 Cairo;
}

h5 {
  font: Bold 0.9rem/1.2 Cairo;
}

.bg-lightblue {
  background-color: #ebf5ff !important;
}

/*===============================================
============== Sidebar Styles ===================
===============================================*/

.main-sidebar button.btn-toggle::before {
  left: auto;
  color: #fff;
  background-color: #333;
  right: 1rem !important;
}

/*===============================================
============== Setting Items Styles =============
===============================================*/

.setting-item .item-icon,
.setting-item .item-text {
  transition: all 0.3s ease-in-out;
}
.setting-item .item-icon {
  width: 50px;
  color: #2b414b;
}
.setting-item:hover .item-icon {
  transform: scale(1.05) rotate(-1deg);
  color: #006797;
}
.setting-item:hover .item-text p,
.setting-item:hover .item-text small {
  color: #006797;
}
.setting-item .item-text p {
  font: 800 0.9rem/1.2 "Cairo";
}
.setting-item .item-text small {
  font: normal 0.9rem/1.2 "Cairo";
}

/* ===================================================
================= Bootstrap Like Modifications ============
=================================================== */
.input-group :where(.input-group-text, .form-control, .form-select) {
  height: 33px;
  line-height: 33px;
}

.input-group label.input-group-text {
  color: #454545;
  font-weight: 600;
  border: 1px solid #bcbcbc;
  background-color: #cdcdcd;
}

.input-group input.form-control,
.input-group select.form-select,
.input-group textarea.form-control,
.input-group button.form-control {
  border: 1px solid #bcbcbc;
  color: #454545;
  font-weight: 500;
  background-color: #efefef;
}

.input-group select.form-select {
  padding-top: 0;
}

/* ===================================================
================= Bootstrap Modifications ============
=================================================== */
.table tr td {
  padding: 0.2rem 0.5rem;
}

.card {
  border-radius: 0;
}

.card .card-header {
  padding: 0;
  background-color: #fff;
}

.card .card-header:hover {
  background-color: #f5f5f5;
}

.card .card-header .card-title {
  padding: 0.5rem 1rem;
  margin: 0;
}

/* ===================================================
================= error message ============
=================================================== */
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545;
}

/* ===================================================
================= Styles for placeholder ============
=================================================== */
::placeholder {
  color: #587e8355 !important;
}

::-moz-placeholder {
  color: #587e8355 !important;
}

:-ms-input-placeholder {
  color: #587e8355 !important;
}

::-webkit-input-placeholder {
  color: #587e8355 !important;
}
