
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #fff;
  font-family: "Cairo", serif;
  margin: 0;
  padding: 0;

}

table {
  width: 210mm;
  height: 297mm;
  border-collapse: collapse;
  margin: 0 auto;
  border: none;

}


/*====== header report Styles ============*/
table thead tr td .header-report {
  background-color: #E0F4FF; 
  height: 26mm; 
  border-bottom: 3px solid #39A7FF; 
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;

}

.header-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  

}
.logo{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap:.5rem;

}
  .header-left img {
  width: 50px;
  height: 50px;
} 

.logo-text {
  display: flex;
  flex-direction: column;
  text-align:left;
  

} 
.company-name {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.company-slogan  {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: .5px;

}
.company-number {
  font-size: .8rem;
  opacity: 0.9;
  text-align: left;
  font-weight: 400;
  letter-spacing: 4px;
  color: #0b88ee;}
.company-info {
  font-size: 0.9rem;
}

.header-center  {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0;
}
.header-center .title-report {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.9;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-center  .info-report{
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 400;
  letter-spacing: .5px;

}
.header-right{
  background-color: gray;
  width: 30%;
}
.header-right img{
  width: 230px;
  height: 50px;
}
/*====== content report Styles ============*/
/* table tbody tr td  .content-report{
   background-color: gray;
   width: calc(210mm - 1cm);
   margin-left:1cm;

} */

table tbody tr td .client-info {
  background-color: white;
  color: #000;
  height: 30mm;
  border-bottom: 3px solid #39A7FF;
  ;
  letter-spacing: .5px;
  text-align: center;
}



table table thead .header-color {
  background-color: #39A7FF;
  color: #fff;
}

table table tfoot .price {
  background-color: #39A7FF;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.signature-section{
  text-align: center;
}
.signature {
  border-top: 2px solid #39A7FF;
  ;
  width: 100%;
}

/*====== footer report Styles ============*/
table tfoot tr td .footer-section {
  background-color: #87C4FF;
  ;
  letter-spacing: .5px;
  text-align: center;
  height: 22mm;
  padding: 1rem;

  color: #000;
}

.footer-footer-address {
  font-size: 1rem;
}

.footer-contact {
  font-size: 0.9rem;
  color: #000;
}

/* Print-specific styles */
@media print {
  @page {
    /* size: A4; */
    margin: 0;
    padding: 0;
  }

}
