table {
    border-top: 2px solid #abcdef;
}
table thead tr th {
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    color: #aaa;
    transition: all 0.3s ease-in-out;
    background-color: #a7e6ff7e;
}
table thead tr:hover th {
    color: #555;
}

table thead tr,
table tbody tr {
    border-bottom: 2px solid #abcdef;
}
table tbody tr:hover td {
    background-color: #a7e6ff55
}

table tbody tr td input, 
table tbody tr td button, 
table tbody tr td select {
    padding: 0.3rem 0.5rem;
    width: 100%;
    border-radius: 0;
    border: 1px solid #dedede;
    background-color: #fff;
    height: 30px
} 

select option:first-child {
    color: #ccc;
}

main:where(h2, h3, h4) {
    color: #455
}